<!DOCTYPE html>
<html style="width:100%;height:100%">
<head>
    <title>Admin Panel. Klinikum</title>
    <link rel="stylesheet" href="~/min/library.min.css">
    <link rel="stylesheet" href="~/min/main.min.css">
    <script src="~/min/library.min.js"></script>
</head>
<body style="width:100%;height:100%;" >
    <div id="app" style="width:100%;height:100%;" v-cloak>
        @Html.Partial("~/Views/Main/Header.cshtml") 
    </div>

    @Html.Partial("~/Views/Main/js/mainjs.cshtml")
</body>
</html>





