<div style="background-color:wheat">
    <div >
        <center><strong>Patient Info</strong></center><br>
        <table style="margin: auto;">
            <tr><th></th><th align="center"></th></tr>
            <tr>
                <td>Name</td>
                <td><input disabled type="text" v-model="Selected_Notfall.SelectedPatient.Name"   v-bind:onchange="GM().Edit_Patient_SaveParam('PatientName',this.value)" /></td>
            </tr>
            <tr> 
                <td>Vorname</td>
                <td><input disabled type="text" v-model="Selected_Notfall.SelectedPatient.Vorname"   v-bind:onchange="GM().Edit_Patient_SaveParam('PatientVorname',this.value)" /></td>
            </tr>
            <tr>
                <td>Geburtsdatum</td>
                <td><input disabled type="text" v-model="Selected_Notfall.SelectedPatient.GebDate"   v-bind:onchange="GM().Edit_Patient_SaveParam('PatientGeburtsdatum',this.value)" /></td>
            </tr>
            <tr>
                <td>Datum und Zeit der Reanimation</td>
                <td><input disabled type="text" v-model="Selected_Notfall.SelectedPatient.ReanimationDateTime"   v-bind:onchange="GM().Edit_Patient_SaveParam('ReanimationDateTime',this.value)" /></td>
            </tr>  
            <tr>   
                <td>Alter zum Zeitpunkt der Reanimation</td>
                <td>wird berechnet</td>
            </tr> 
            <tr>    
                <td>Geschlecht</td>
                <td> 
                    <select disabled v-model="Selected_Notfall.SelectedPatient.Gender"   v-bind:onchange="GM().Edit_Patient_SaveParam('Gender',this.value)" >
                        <option disabled value="">---</option>
                        <option value="1">M</option>
                        <option value="0">F</option> 
                    </select> 
                    <br/>
                </td>
            </tr>
        </table>
    </div>
</div>