<div style="height:100%">patienten
   <table style="background-color:red; width:100%; height:calc(100% - 5px)">
       <tr style="height:calc(100% - 5px);vertical-align:top">
          <td style="background-color:green; width:300px">

          </td>
          <td>

          </td>
       </tr>
   </table>

</div>
