 <div>
    <center><b>Password ändern</b></center>
     <table>
         <tr>Alte Kennwort<td><input v-model="altePass" type="password"></td><td></td></tr>
         <tr>Neue Kennwort<td><input v-model="neuePass1" type="password"></td><td></td></tr>
         <tr>Neue Kennwort noch mal<td><input v-model="neuePass2" type="password"></td><td></td></tr>
         <tr><td><input type="button" v-on:click="GM().PasswordSpeichern(altePass,neuePass1,neuePass2)" value="Speichern"></td></tr>
    </table>
 </div>
 
